POSTGRES_DB=crypto_db
POSTGRES_USER=crypto_user
POSTGRES_PASSWORD=crypto_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=crypto-prices

API_HOST=0.0.0.0
API_PORT=8000
REDIS_HOST=redis
REDIS_PORT=6379